   body {
            background-color: #eee;
        }
        .product-img {
            filter: brightness(0.6);
            border-radius: 0.5rem;
            width: 100%;
        }
        .cart-btn, .quantity-btn {
            border-radius: 20px;
            border: 1px solid hsl(14, 86%, 42%);
            background-color: white;
            padding: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-top: -1.5rem;
            z-index: 10;
            position: relative;
        }
        .cart-btn img, .quantity-btn img {
            width: 16px;
        }
        .cart-header {
            color: hsl(14, 86%, 42%);
        }
        .cart-item {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #fff;
        }
        .remove-btn {
            cursor: pointer;
            width: 24px;
            height: 24px;
        }